<form>
    <div class="formContent">
        <div class="row">
            <div class="col-12">
                <h1 class="mainHeading">Details for {{userData.name}}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-12 content">
                <h3>{{userData.name}} was greeted {{userData.count}} time(s)</h3>
                <button type="button" onclick="window.location.href='/'" class="btn">Home</button>
                <button type="button" onclick="window.location.href='/greeted'" class="btn">Back</button>
            </div>
        </div>
    </div>
</form>
    